# LaTex files
*.aux
*.log
*.out
*.dvi
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
vorlesung/MDA_iprom_TUbraunschweig.pdf
# vim backup
*.swp
# original drawings
*.svg
# von lokalen jupyter notebooks
.ipynb_checkpoints
